In [37]:
#import modules
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import csv
low_memory = False

In [40]:
#read csv data
csv_ca_cdc_path = "./ca_output_data.csv"
ca_covid = pd.read_csv(csv_ca_cdc_path, encoding="utf-8")
ca_covid = pd.DataFrame(ca_covid)

In [41]:
#make a list which counties are not included, though this may not be necessary for the final notebook.
#it is important to mention in the presentation, however.
print(len(ca_covid['res_county'].unique()))

cdc_included_counties = ca_covid['res_county'].unique()
cdc_included_counties = cdc_included_counties.tolist()

counties_list = ['Alameda', 'Alpine', 'Amador' ,'Butte' ,'Calaveras' ,'Colusa' ,'Contra Costa' ,'Del Norte'
                 ,'El Dorado' ,'Fresno' ,'Glenn' ,'Humboldt' ,'Imperial' ,'Inyo' ,'Kern' ,'Kings' ,'Lake' ,'Lassen',
                 'Los Angeles' ,'Madera' ,'Marin' ,'Mariposa' ,'Mendocino' ,'Merced' ,'Modoc' ,'Mono' ,'Monterey' ,'Napa', 
                 'Nevada' ,'Orange' ,'Placer' ,'Plumas' ,'Riverside' ,'Sacramento' ,'San Benito' ,'San Bernardino' ,'San Diego' ,
                 'San Francisco' ,'San Joaquin' ,'San Luis Obispo' ,'San Mateo' ,'Santa Barbara' ,'Santa Clara' ,'Santa Cruz' ,
                 'Shasta' ,'Sierra' ,'Siskiyou' ,'Solano' ,'Sonoma' ,'Stanislaus' ,'Sutter' ,'Tehama' ,'Trinity' ,'Tulare' ,'Tuolumne' ,
                 'Ventura' ,'Yolo' ,'Yuba']

small_county = []
#print(len(counties_list))
for county in counties_list:
    if county.upper() not in cdc_included_counties:
        small_county.append(county)
#print(small_county)

51
['Alpine', 'Inyo', 'Mariposa', 'Modoc', 'Mono', 'Plumas', 'Sierra', 'Trinity']

In [52]:
#extract only the data for dates in 2021
ca_covid_2021 = ca_covid.loc[(ca_covid['case_month'] == '2021-01') | (ca_covid['case_month'] == '2021-02') | 
                              (ca_covid['case_month'] == '2021-03') | (ca_covid['case_month'] == '2021-04')  
                            | (ca_covid['case_month'] == '2021-05') | (ca_covid['case_month'] == '2021-06') 
                            | (ca_covid['case_month'] == '2021-07') | (ca_covid['case_month'] == '2021-08') ]                           

ca_covid_2021.head()

,case_month,res_state,res_county,age_group,current_status,sex,race,ethnicity
2,2021-01,CA,SANTA CLARA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
7,2021-02,CA,SANTA BARBARA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
9,2021-01,CA,VENTURA,18 to 49 years,Laboratory-confirmed case,Female,American Indian/Alaska Native,Hispanic/Latino
13,2021-03,CA,NEVADA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
18,2021-02,CA,SOLANO,18 to 49 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino

In [65]:
#get the value counts for demographics and case status

#print(ca_covid.head(70))
age_counts = ca_covid_2021['age_group'].value_counts()
print(age_counts)
case_status_counts = ca_covid_2021['current_status'].value_counts()
#print(case_status_counts)
sex_counts = ca_covid_2021['sex'].value_counts()
#print(sex_counts)
race_counts = ca_covid_2021['race'].value_counts()
#print(race_counts)
ethnicity_counts = ca_covid_2021['ethnicity'].value_counts
#print(ethnicity_counts)

ca_covid_2021 = ca_covid_2021.drop(columns=['res_state'])
ca_covid_2021.head()

18 to 49 years    755943
50 to 64 years    248834
0 - 17 years      201041
65+ years         136457
Missing              548
Name: age_group, dtype: int64

,case_month,res_county,age_group,current_status,sex,race,ethnicity
2,2021-01,SANTA CLARA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
7,2021-02,SANTA BARBARA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
9,2021-01,VENTURA,18 to 49 years,Laboratory-confirmed case,Female,American Indian/Alaska Native,Hispanic/Latino
13,2021-03,NEVADA,0 - 17 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino
18,2021-02,SOLANO,18 to 49 years,Laboratory-confirmed case,Female,White,Non-Hispanic/Latino

In [66]:
# make smaller dataframes for each demographic with county, case month, current_status,
# and demographic in the individual dataframes

age_df = ca_covid_2021[['age_group','case_month', 'res_county', 'current_status']]
age_df.head(3)

        age_group case_month     res_county             current_status
2    0 - 17 years    2021-01    SANTA CLARA  Laboratory-confirmed case
7    0 - 17 years    2021-02  SANTA BARBARA  Laboratory-confirmed case
9  18 to 49 years    2021-01        VENTURA  Laboratory-confirmed case

In [67]:
sex_df = ca_covid_2021[['sex','case_month', 'res_county', 'current_status']]
sex_df.head(3)

      sex case_month     res_county             current_status
2  Female    2021-01    SANTA CLARA  Laboratory-confirmed case
7  Female    2021-02  SANTA BARBARA  Laboratory-confirmed case
9  Female    2021-01        VENTURA  Laboratory-confirmed case

In [68]:
race_df = ca_covid_2021[['race','case_month', 'res_county', 'current_status']]
race_df.head(3)

,race,case_month,res_county,current_status
2,White,2021-01,SANTA CLARA,Laboratory-confirmed case
7,White,2021-02,SANTA BARBARA,Laboratory-confirmed case
9,American Indian/Alaska Native,2021-01,VENTURA,Laboratory-confirmed case

In [69]:
ethnicity_df = ca_covid_2021[['ethnicity','case_month', 'res_county', 'current_status']]
ethnicity_df.head(3)

             ethnicity case_month     res_county             current_status
2  Non-Hispanic/Latino    2021-01    SANTA CLARA  Laboratory-confirmed case
7  Non-Hispanic/Latino    2021-02  SANTA BARBARA  Laboratory-confirmed case
9      Hispanic/Latino    2021-01        VENTURA  Laboratory-confirmed case

In [ ]:
#read in population data from the Department of Finance

population_data =