In [18]:
#general plan: get death, cases, and vaccine data for all counties combined by month
#and then plot the three of them against each other in a line graph, also by month
#do a linear regression for cases vs.vaccines, deaths vs. vaccines, and possibly
#cases vs. deaths(though this one is very obvious)

#If there is time I can pull data from LA, Sacramento, and Humbolt counties and compare
#their vaccine rate (by population) to death and case rate

In [19]:
#import modules
import pandas as pd
import json
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np
import os
import csv
from pandas.api.types import CategoricalDtype
low_memory = False

In [20]:
#read in all of the csv files and convert them to data frames

#.csv is in the file name, so put .csv twice to read it
vac_county_path = './Resources/CHHS_Vaccines_Administered_by_County/130d7ba2-b6eb-438d-a412-741bde207e1c (1).csv.csv'
vac_by_county = pd.read_csv(vac_county_path)
vac_by_county = pd.DataFrame(vac_by_county)

vac_cleaned_path = './Resources/ca_fully_partially_vaccinated_by_month.csv'
vac_cleaned = pd.read_csv(vac_cleaned_path)
vac_cleaned = pd.DataFrame(vac_cleaned)

cases_county_path = './Resources/ca_cases_by_county/total_monthly_cases.csv'
cases_by_county = pd.read_csv(cases_county_path)
cases_by_county = pd.DataFrame(cases_by_county)

deaths_county_path = './Resources/CA_covid_deaths_by_county/ca_covid_deaths_by_county.csv'
deaths_by_county = pd.read_csv(deaths_county_path)
deaths_by_county = pd.DataFrame(deaths_by_county)

In [21]:
# State wide Covid-19 vaccines administered by county 
#this following section is basically what is in the beginning of Tikaram's notebook
#since he cleaned/worked with the vaccine data. If I have time for sample counties I will use this
#for now I'll just use the csv I wrote out from his notebook

# Converting the string format of date into datetime and created a new column for month
#vac_by_county['month'] = pd.DatetimeIndex(vac_by_county['administered_date']).month_name()

#vac_by_county = pd.DataFrame(vac_by_county, columns=['county','month','administered_date',
#                                                      'fully_vaccinated','partially_vaccinated'])

# Creating a new dataframe with months as variable to be utilized for ploting by months
#vac_by_county = pd.DataFrame(vac_by_county, columns=['county','month','fully_vaccinated','partially_vaccinated'])
#vac_by_county

In [22]:
print(cases_by_county)

     Months    Cases
0  December  1216142
1   January   873586
2  February   181288
3     March    82660
4     April    65037
5       May    37661
6      June    34899
7      July    71623

In [23]:

print(deaths_by_county)

                         County Name  August  September  October  November  \
0              Statewide Unallocated       0          0        0         0
1                    Alameda County      257        412      463       512
2                     Alpine County        0          0        0         0
3                     Amador County       14         16       16        16
4                      Butte County       23         44       53        60
5                  Calaveras County        2         14       21        22
6                     Colusa County        6          6        6         6
7               Contra Costa County      175        209      246       261
8                  Del Norte County        1          1        1         1
9                  El Dorado County        2          4        4         4
10                    Fresno County      263        390      443       481
11                     Glenn County        3          3        3        10
12                  Humboldt County        4          8        9         9
13                  Imperial County      293        320      338       356
14                      Inyo County       13         15       15        16
15                      Kern County      286        370      424       448
16                     Kings County       72        104       83        87
17                      Lake County        4         10       17        20
18                    Lassen County        0          0        1         3
19               Los Angeles County     5784       6576     7071      7655
20                    Madera County       54         65       76        86
21                     Marin County       96        117      127       129
22                  Mariposa County        2          2        2         2
23                 Mendocino County       17         18       21        23
24                    Merced County      117        143      156       181
25                     Modoc County        0          0        0         0
26                      Mono County        2          2        2         3
27                  Monterey County       58         73       96       122
28                      Napa County       13         13       16        18
29                    Nevada County        5          7        9         9
30                    Orange County      980       1268     1483      1577
31                    Placer County       33         45       59        70
32                    Plumas County        0          0        0         0
33                 Riverside County     1019       1226     1319      1442
34                Sacramento County      293        420      500       581
35                San Benito County        8         11       15        16
36            San Bernardino County      716        955     1078      1129
37                 San Diego County      682        783      891       997
38  City and County of San Francisco      83        104      148       160
39               San Joaquin County      328        456      494       509
40           San Luis Obispo County       20         31       32        38
41                 San Mateo County      131        150      161       170
42             Santa Barbara County       93        113      128       136
43               Santa Clara County      244        322      406       476
44                Santa Cruz County        7         10       26        28
45                    Shasta County       12         20       31        47
46                    Sierra County        0          0        0         0
47                  Siskiyou County        0          0        0         3
48                    Solano County       47         69       76        81
49                    Sonoma County       80        122      136       157
50                Stanislaus County      258        362      401       426
51                    Sutter County       10         11       12        17
52                    Tehama County        1          5        9        25
53                   Trinity County        0          0        0         0
54                    Tulare County      232        263      293       312
55                  Tuolumne County        2          4        6         8
56                   Ventura County      116        152      166       183
57                      Yolo County       52         55       60        77
58                      Yuba County        6          8       10        10

    December  January  February  March  April    May   June   July
0          0        0         0      0      0      0      0      0
1        625      974      1241   1212   1263   1253   1257   1265
2          0        0         0      0      0      0      0      0
3         24       33        41     45     46     46     46     48
4         96      138       160    191    196    189    200    204
5         22       23        47     50     50     55     55     57
6          8       10        13     14     14     14     15     16
7        331      529       681    767    795    805    816    831
8          2        3         5      6      6      7      7      7
9         22       79       100    105    107    110    113    116
10       646     1137      1443   1606   1667   1703   1724   1743
11        14       23        23     17     17     15     19     19
12        22       30        33     34     36     41     48     51
13       414      532       591    704    720    735    737    743
14        20       29        37     35     36     34     34     38
15       510      624       827   1219   1295   1314   1343   1353
16       110      171       218    238    245    243    244    247
17        23       32        41     43     43     44     56     66
18         9       16        19      1      1      3     18     19
19     10056    16647     21328  23101  23899  24357  24497  24689
20       117      175       209    210    235    239    239    244
21       139      172       197    221    228    229    232    239
22         4        5         7      5      5      3      3      3
23        26       37        43     45     46     47     49     49
24       252      350       397    422    444    451    463    471
25         1        4         4      3      3      3      3      5
26         4        4         4      3      3      3      3      3
27       190      285       328    337    379    379    471    525
28        28       54        69     78     81     80     80     81
29        50       74        74     68     70     72     72     72
30      1874     3018      3904   4713   4934   5051   5124   5144
31       125      199       232    267    286    293    298    306
32         1        6         6      4      4      4      4      5
33      1951     3091      3767   4132   4409   4405   4489   4520
34       833     1239      1472   1514   1593   1644   1677   1718
35        28       52        59     61     63     58     60     60
36      1442     1821      2816   4332   4609   4708   4897   5197
37      1472     2603      3284   3547   3700   3756   3780   3798
38       184      323       412    474    537    549    558    562
39       628      853      1101   1211   1301   1380   1407   1442
40        82      168       227    250    255    254    256    260
41       217      382       515    348    358    406    531    540
42       157      291       411    439    448    454    454    466
43       673     1395      1777   1871   1984   2047   2080   2089
44        83      148       183    201    205    207    208    207
45        73      142       174    183    193    199    204    212
46         0        0         0      0      0      0      0      0
47        11       13        14      6     11     21     29     31
48        98      122       164    232    248    250    265    260
49       184      260       298    310    318    322    316    329
50       608      828       946    678    774    969   1015   1032
51        50       86        97    106    110    111    114    127
52        36       47        52     52     53     63     63     66
53         4        5         5      3      3      3      3      3
54       399      588       758    815    832    845    851    854
55        21       49        59     57     58     58     59     59
56       260      598       844    956   1002   1008   1025   1036
57       109      149       185    194    205    210    213    215
58        18       31        37     42     44     47     50     49

In [ ]:
#create a dataframe for deaths by month for the entire state
#from December 2020 on so that it can be compared with vaccination
dec =

In [16]:
print(vac_cleaned[200:])
vac_cleaned = vac_cleaned.dropna(how='any')
vac_cleaned

    month  fully_vaccinated  partially_vaccinated
200  July             25107                 21011
201  July              1887                  1515
202  July             21741                 18894
203  July             53036                 33129
204  July             42784                 30406
205  July             40780                 29376
206  July             46737                 35248
207  July             28801                 22467
208  July             12366                 10882
209  July             37950                 27634
210  July             37970                 31290
211  July             36704                 29712
212  July             35688                 31344
213  July             42281                 39475
214  July             27187                 25717
215  July             12614                 12758
216  July             33623                 32985
217  July             36679                 38456
218  July             35777                 37585
219  July             34098                 39404
220  July             39428                 47766
221  July             23290                 30205
222  July              6396                 17853
223  July             25428                 42357
224  July             33675                 46743
225  July             32184                 47309
226  July             30277                 46543
227  July             36620                 54372
228  July             22172                 34108

        month  fully_vaccinated  partially_vaccinated
0    December                 0                  1190
1    December                 0                  8767
2    December                 0                 26828
3    December                 1                 45622
4    December                 1                 25677
..        ...               ...                   ...
224      July             33675                 46743
225      July             32184                 47309
226      July             30277                 46543
227      July             36620                 54372
228      July             22172                 34108

[229 rows x 3 columns]